<article>
    <h1 class="card_title">Carts</h1>
    <div class="card_container">
        {{#each carts}}

                <a href="/cart/{{_id}}" class="card_content-title">{{_id}}</a>

        {{/each}}
    </div>
</article>