<div class="realTime">
    <div class="realTime_header">
        <h1 class="realTime_header-title">Productos</h1>
        <button class="realTime_header-btn" onclick="editMenu()">Editar</button>
    </div>
    <div id="menu" class="realTime_content none"></div>
    <div id="content" class="cards_container"></div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>