<article class="formAcc-register">
    <h2 class="formAcc_title">¡Registrate!</h2>
    <form class="formAcc_content">
        <div class="formAcc_content-item">
            <label for="first_name" class="formAcc_content-item--label">Nombre</label>
            <input type="text" class="formAcc_content-item--input" id="first_name" placeholder="Ingrese su nombre">
            <label for="last_name" class="formAcc_content-item--label">Apellido</label>
            <input type="text" class="formAcc_content-item--input" id="last_name" placeholder="Ingrese su apellido">
            <label for="email" class="formAcc_content-item--label">Email</label>
            <input type="text" class="formAcc_content-item--input" id="email" placeholder="Ingrese su email">
            <label for="age" class="formAcc_content-item--label">Edad</label>
            <input type="number" class="formAcc_content-item--input" id="age" placeholder="Ingrese su edad">
            <label for="password" class="formAcc_content-item--label">Contraseña</label>
            <input type="password" class="formAcc_content-item--input" id="password" placeholder="Ingrese su contraseña">
            <span id="togglePassword" class="password-toggle--register">
                <span id="visibilityIcon" class="material-symbols-outlined showPw">visibility</span>
            </span>
        </div>
        <div class="formAcc_content-btns">
            <button id="btn-register" type="button" class="formAcc_content-btns--btn" onclick="registerUser()">Registrar</button>
            <div class="formAcc_content-btns--divider">
                <div class="formAcc_content-btns--divider---stick"></div>
                <p class="formAcc_content-btns--divider---item">O</p>
                <div class="formAcc_content-btns--divider---stick"></div>
            </div>
            <a class="formAcc_content-btns--btn" id="btnLogIn" href="/login">Ingresar</a>
        </div>
        <div class="formAcc_content-img">
            <svg class="formAcc_content-img--img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#c3d6df" fill-opacity="1"
                    d="M0,96L40,112C80,128,160,160,240,170.7C320,181,400,171,480,144C560,117,640,75,720,48C800,21,880,11,960,16C1040,21,1120,43,1200,53.3C1280,64,1360,64,1400,64L1440,64L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
                </path>
            </svg>
            <svg class="formAcc_content-img--img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#717e85" fill-opacity="1"
                    d="M0,128L60,154.7C120,181,240,235,360,229.3C480,224,600,160,720,117.3C840,75,960,53,1080,69.3C1200,85,1320,139,1380,165.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                </path>
            </svg>
            <svg class="formAcc_content-img--img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#a9bac2" fill-opacity="1"
                    d="M0,64L80,80C160,96,320,128,480,122.7C640,117,800,75,960,58.7C1120,43,1280,53,1360,58.7L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
                </path>
            </svg>
        </div>
    </form>
</article>

<script src="js/register.js"></script>