<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>PreEntrega 2</title>
    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {{!-- Toastify --}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    {{!-- Toastify --}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body class="body">
    <header class="header">
        <nav class="navBar">
            <h1 class="navBar_brand">Eric Dehner</h1>
            <div class="navBar_content">
                <a class="navBar_content-item" href="/products">PRODUCTOS</a>
                <a class="navBar_content-item" href="/realtimeProducts">PRODUCTOS ONLINE</a>
                <a class="navBar_content-item" href="/chat">CONTACTO</a>
            </div>
        </nav>
    </header>
    <main class="main">
        {{{body}}}
    </main>
    <footer class="footer">
        <p class="footer_text">Proyecto BackEnd</p>
    </footer>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>